# Flask Configuration
PORT=5001
FLASK_ENV=development

# Model paths
PINK_PASS_MODEL_PATH=models/liveness_model.h5
PRICE_MODEL_PATH=models/price_model.pkl
FACE_CASCADE_PATH=models/haarcascade_frontalface_default.xml

# Backend API
BACKEND_URL=http://localhost:5000
